@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-text: var(--primary-text);
  --color-secondary-text: var(--secondary-text);
  --color-primary-accent: var(--primary-accent);
  --color-highlight: var(--highlight);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-main: var(--font-inter);
  --font-var: var(--font-roboto);
  --shadow-custom: 10px 10px 4px 0px rgba(0,0,0,.25);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #F9FAFB;
    --primary-text: #1F2933;
    --secondary-text: #6B7280; 
    --primary-accent: #2DD4BF;
    --secondary-accent: #60A5FA;
    --highlight: #FCA5A5; 
    --success: #34D399;
    --warning: #FBBF24;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif; 
}
