@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-main: var(--font-inter);
  --font-var: var(--font-roboto);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #F9FAFB;
    --primary-text: #1F2933;
    --secondary-tex: #6B7280; 
    --primary-accent: #2DD4BF;
    --secondary-accent: #60A5FA;
    --highlight: #FCA5A5; 
    --sucess: #34D399;
    --warning: #FBBF24;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif; 
}
